:root {
  --primary-color: #fff;
  --secondary-color: #0a013d;

  /* font sizes */
  --font-small: 0.875rem;
  --font-base: 1rem;
  --font-large: clamp(1.5rem, 2vw, 2.5rem); /* (min, prefered, max) */
  --font-title: clamp(1rem, 4vw, 5rem);
}
@media (max-width: 1800px) {
  svg {
    height: 500px;
  }
  .tsiou {
    width: 35%;
  }
}
@media (max-width: 1400px) {
  svg {
    height: 400px;
  }
  .tsiou {
    width: 40%;
  }
  .img-wrapper {
    width: 300px;
  }
}

@media (max-width: 1200px) {
  svg {
    top: 100px;
    height: 350px;
    right: 20px;
  }
  .tsiou {
    width: 50%;
  }

  .text {
    flex: 1 0 0;
    font-size: 0.9rem;
    line-height: 2;
    padding: 0 50px 150px 0;
  }
  .img-wrapper {
    aspect-ratio: 3/5;
  }
}

@media (max-width: 1024px) {
 
   .content {
    flex-direction: column;
    padding: 80px 20px 40px;
    gap: 20px;
    text-align: center;
  }

  .number01, .photography {
    margin: 0px;
    text-align: center;
    padding: 50px;
    right: 100%;
  }
  .number01 {
    right: 100%;
  }
  .photography {
    top: 20px;
  }
  .text {
    width: 100%;
    padding: 100px 10px 0 10px;
    line-height: 1.6;
    margin-top: 20px;
    
  }
  .text1 {
    margin-top: 50px;
  }
  .img-wrapper {
    width: 30%;
    aspect-ratio: auto;
  }
}

@media (max-width: 900px) {
  svg {
    top: 100px;
    height: 350px;
    right: 20px;
  }
  .tsiou {
    width: 60%;
  }
  .about-container .left {
    width: 100%;
  }
}

@media (max-width: 768px) {
  svg {
    top: 100px;
    right: 40px;
  }
  .tsiou {
    width: 60%;
  }

  .about-container {
    flex-direction: column;
    padding-top: 40px;
  }
  .container2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .left {
    width: 100%;
    padding-top: 10px;
  }
  .left p {
    width: 100%;
  }
  .right {
    margin-top: 20px;
  }
  .hr-line {
    display: none;
  }
  .project-container {
    flex-direction: column;
    align-items: center;
  }
  .project-left img {
    width: 100%;
  }
  .project-subheader h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
  }
  .project-left,
  .project-right {
    flex: 1 1 100%;
    text-align: center;
  }
  .project-right {
    margin-top: 1rem;
  }

  .content {
    flex-direction: column;
    padding: 80px 20px 40px;
    gap: 20px;
    text-align: center;
  }

  .number01,
  .photography {
    margin: 0px;
    text-align: center;
    padding: 50px;
    right: 100%;
  }
  .number01 {
    right: 100%;
  }
  .photography {
    top: 20px;
  }
  .text {
    width: 100%;
    padding: 100px 0 0 0;
    line-height: 1.6;
    margin-top: 20px;
  }
  .text1 {
    margin-top: 50px;
  }
  .img-wrapper {
    width: 80%;
    aspect-ratio: auto;
    overflow: hidden;
  }
}

/* -------- SMALL MOBILE (≤ 480px) -------- */
@media (max-width: 480px) {
  .content {
    padding: 60px 15px;
    gap: 15px;
  }
  .text {
    line-height: 1.6;
    margin-top: 20px;
  }

  .img-wrapper {
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 375px) {
  #home {
    height: 100vh;
  }
  .navigation {
    display: none;
  }
  svg {
    top: 100px;
    height: 200px;
    right: 20px;
  }
  .tsiou {
    width: 80%;
  }
  .hr-line {
    display: none;
  }
  .stuff h1,
  .like h1 {
    font-size: var(--font-large);
  }
  .project-left img {
    width: 100%;
  }
  .container2 {
    width: 100%;
    align-items: self-start;
  }
  .about-container {
    width: 100%;
  }
  #about-3d {
    width: 300px;
    height: 300px;
  }
  .left p {
    width: 100%;
    font-size: var(--font-base);
  }
  .about-container {
    width: 100%;
  }
}
