@media (max-width: 768px) {
    #header {
        justify-content: center;
        align-items: center;
        background-image: url(images/background2.png);
        background-size: cover;  
        background-position: center;
    }
    .tsiou1{
        display: flex;
        width: 100%;
    }
    .row1{   
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .main-cv{
        width: 100%;
    }
    .header-text p {
        font-weight: 400;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 80%;
    }
}
            /* --------------800px----------- */
@media (max-width: 400px) {
    .controls{
        display: none;
    }    
}
@media (max-width: 550px) {
    form {
        display: block;
        width: 100%;
    }
    form input, textarea{
        margin: 5px;
    }
    textarea{
        min-width: 70%;
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-top: 50px;
        gap: 40px;
    }
    .layer{
       font-size: 12px;
    }
    .layer h3{
        margin-bottom: 10px;
    }
}