* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #0a013d;

  /* font sizes */
  --font-small: 0.875rem; /* 14px */
  --font-base: 1rem; /* 16px */
  --font-medium: clamp(1rem, 1.1rem, 1.3rem);
  --font-large: clamp(1.5rem, 2vw, 2.5rem); /* (min, prefered, max) */
  --font-title: clamp(1rem, 4vw, 5rem);

  --main-hue: 208;
  --main-color: hsl(var(--main-hue), 92%, 54%);
  --main-color-hover: hsl(var(--main-hue), 77%, 48%);
  --light-main-color: hsl(var(--main-hue), 91%, 55%);
  --text-color: #000;
  --nav-color: hsl(var(--main-hue), 17%, 79%);
  --bg-color: #fff;
  --light-text-color: #9ca7bc;
  --input-bg: hsla(var(--main-hue), 50%, 50%, 6.5%);
  --input-bg-hover: hsla(var(--main-hue), 50%, 50%, 14%);
  --input-text: #8c9aaf;
}

/* Scrollbar track (background) */
::-webkit-scrollbar {
  width: 12px; 
  height: 10px; 
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #004f90; 
  border-radius: 15px; 
  border: 3px solid #002846; 
}
::-webkit-scrollbar-track {
  background-color: #002846; 
}

@font-face {
  font-family: "Super Shiny";
  src: url("./SuperShiny-0v0rG.ttf") format("truetype");
}

/*--------------- OVERLAY ---------------*/

.tsiou-logo {
  width: 30%;
}
.overlay {
  background: #080808;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
}
.svg-overlay {
  position: relative;
  width: 20vw;
  overflow: visible;
}
.dev {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 3vw;
  bottom: 200px;
}

/*--------------- HOME ---------------*/
#home {
  margin: 0 auto;
  width: 100%;
  height: 90vh;
  background: linear-gradient(
    90deg,
    rgba(197, 215, 222, 1) 1%,
    rgba(155, 191, 218, 1) 48%,
    rgba(137, 133, 204, 1) 100%
  );
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.navigation ul {
  display: flex;
  list-style-type: none;
}
.navigation li {
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 700;
}
.navigation li:hover {
  scale: 1.1;
  transition: .3s ;
}
.name {
  font-size: var(--font-title);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10%;
}
.name h1 {
  font-weight: 600;
  z-index: 1000;
  top: 20%;
}
.tsiou {
  width: 30%;
  transition: width 0.3s ease;
  position: absolute;
  top: 40%;
  z-index: 1000; 
}
#planet {
  display: flex;
  justify-content: center;
}
.svg-planet {
  position: relative;
  width: 20vw;
  overflow: visible;
  height: 600px;
  transition: 0.3 ease;
}

/*--------------- JOURNEY ---------------*/

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #c5d7de;
  overflow: hidden;
}

/* -------- DESKTOP DEFAULT -------- */
.content {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 200px;
  gap: 50px;
}
.number01 {
  position: absolute;
  inset: 0;
  font-size: var(--font-base);
  font-weight: 700;
  padding: 0 200px;
  margin-top: 200px;
}

.photography {
  position: absolute;
  inset: 0;
  font-size: var(--font-title);
  font-weight: 700;
  padding: 0 200px;
  margin-top: 220px;
}

.text-camera-wrapper {
  flex: 1 10;
}

.camera {
  padding-top: 10px;
  width: 80px;
  opacity: 0;
}
.text-me-photo {
  font-size: 1.1rem;
  line-height: 2;
  padding: 50px 0 0 0;
  width: 50%;
  font-style: italic;
}
.text-countries {
  font-size: var(--font-medium);
  line-height: 2;
  padding: 50px 0 0 0;
  width: 60%;
  font-style: italic;
}

.img-wrapper {
  width: 25%;
  aspect-ratio: 3/5;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  filter: saturate(0.9) brightness(1.05);
}

/* -------- TABLET (≤ 1024px) -------- */

.content:not(:first-child) .text {
  opacity: 0;
}
.content:not(:first-child) .camera {
  opacity: 0;
}

.content:not(:first-child) .img-wrapper {
  transform: translateY(-200%);
}

/* ------------------  ABOUT   ---------------  */
#about {
  position: relative;
  z-index: 0;
}
.about-container {
  margin-top: 150px;
  padding: 80px 0 0 0;
  height: 10%;
  width: 100%;
}
  
.number02 {
  font-size: var(--font-title);
  font-weight: 700;
}
.container2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}
.left {
  padding-top: 20px;
  width: 50%;
}
.left h2 {
  font-size: var(--font-title);
  padding-bottom: 12px;
}
.left p {
  width: 80%;
  font-size: var(--font-base);
}
.about-info {
  margin-top: 20px;
  max-width: 80%;
}
.lang {
  margin-top: 50px;
}
.languages {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  width: 90%;
}
.languages img {
  width: 70%;
}
/* .about-container {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
} */

.stuff {
  font-size: var(--font-large);
  padding-bottom: 20%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.like {
  font-size: var(--font-large);
  padding-bottom: 10%;
  padding-top: 10%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stuff h1,
.like h1 {
  color: rgb(0, 0, 0);
  opacity: 0;
}

#projects {
  padding: 80px 0;
  background: linear-gradient(90deg, #002846 0%, #004f90 100%);
}
.projects-title {
  text-align: left;
  margin-bottom: 50px;
}

.projects-title h1 {
  font-size: var(--font-title);
  letter-spacing: 3px;
  color: var(--primary-color);
}
.projects-title p {
  font-size: var(--font-base);
  font-weight: 700;
  color: var(--primary-color);
}
.projects-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  color: var(--primary-color);
}
.project {
  margin-bottom: 100px;
}
.project-subheader {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.project-subheader h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
}
.hr-line {
  flex: 1;
  height: 2px;
  opacity: 0.3;
  background: rgb(255, 255, 255);
  margin-left: 1rem;
}

/* Layout */
.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  padding-bottom: 100px;
}

.project-left {
  flex: 1 1 45%;
}
.project-left img {
  width: 500px;
  height: 300px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-left img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.project-right {
  flex: 1 1 50%;
}
.project-right p {
  font-size: var(--font-medium);
  color: var(--primary-color);
  line-height: 1.6;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  padding: 20px;
  border-radius: 12px;
}
.tech-stack {
  font-style: italic;
}
.underline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

#contact-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
.contact-container-header {
  max-width: 82rem;
  margin: 0 auto;
  padding: 0 1rem;
  height: 65px;
  display: flex;
  align-items: flex-end;
}
/* .logo img {
  height: 35px;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-right: 0.8rem ;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.logo .images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
} */
.contact-container-header ul {
  display: flex;
  list-style: none;
  align-items: center;
}
a {
  text-decoration: none;
}
.logo h2 {
  color: #000;
  font-size: 1.55rem;
  margin-top: 2px;
}
.logo h2 span {
  color: var(--main-color);
}
.nav-link {
  margin-left: 5.5rem;
  padding: 0 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: hsl(var(--main-hue), 17%, 79%);
  transition: 0.3s;
}
.nav-link:hover {
  color: var(--main-color);
}
.nav-link.theme-color {
  cursor: pointer;
}
.theme-toggle .fa-moon {
  display: none;
}
.theme-toggle .fa-sun {
  display: inline;
}

.contact-main {
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}
.contact-main .contact-container-main {
  height: 100vh;
  min-height: 700px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.contact-main .contact-container-main > div {
  grid-column: 1/2;
  grid-row: 1/2;
}
.left-contact {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 65px 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  z-index: 3;
}
.contact-heading h1 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 3.5rem;
  line-height: 0.9;
  white-space: nowrap;
  margin-bottom: 1.2rem;
}
.contact-heading h1 span {
  color: var(--main-color);
}
.contact-heading-text {
  color: var(--light-text-color);
  line-height: 1.1;
  font-size: 1rem;
}
.contact-heading-text a {
  color: var(--main-color);
  transition: 0.3s;
}
.contact-heading-text a :hover {
  color: var(--main-color-hover);
}
.form-wrapper {
  max-width: 32rem;
}
.contact-form {
  display: grid;
  margin-top: 2.55rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}
.input-wrap {
  position: relative;
}
.input-wrap.w-100 {
  grid-column: span 2;
}
.contact-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--input-bg);
  padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
  font-family: inherit;
  border-radius: 20px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 0.95rem;
  border: 2px solid transparent;
  box-shadow: 0 0 0 0px hsla(var(--main-hue), 92%, 54%, 0.169);
  transition: 0.3s;
}

.input-wrap label {
  position: absolute;
  top: 50%;
  left: calc(1.35rem + 2px);
  transform: translateY(-50%);
  color: var(--light-text-color);
  pointer-events: none;
  transition: 0.25s;
}
.input-wrap .icon {
  position: absolute;
  right: calc(1.35rem + 2px);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--input-text);
  font-size: 1.25rem;
  transition: 0.3s;
}
textarea.contact-input {
  resize: none;
  width: 100%;
  min-height: 150px;
}
textarea.contact-input ~ label {
  top: 1.2rem;
  transform: none;
}
textarea.contact-input ~ .icon {
  top: 1.3rem;
  transform: none;
}
.input-wrap.focus .contact-input {
  background-color: var(--bg-color);
  border: 2px solid var(--light-main-color);
  box-shadow: 0 0 0 0px hsla(var(--main-hue), 91%, 55%, 0.11%);
}
.input-wrap.focus label {
  color: var(--light-main-color);
}
.input-wrap.focus .icon {
  color: var(--light-main-color);
}
.input-wrap.not-empty label {
  font-size: 0.66rem;
  top: 0.75rem;
  transform: translateY(0);
}
.contact-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  grid-column: span 2;
}
.btn {
  display: inline-block;
  padding: 1.1rem 2rem;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 40px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn.upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: red;
  cursor: pointer;
  opacity: 0;
}
.btn.upload {
  position: relative;
  background-color: var(--input-bg);
}
.btn.upload span {
  color: var(--light-text-color);
}
.btn:hover {
  background-color: var(--main-color-hover);
}
.btn.upload:hover {
  background-color: var(--input-bg-hover);
}

.right-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  pointer-events: none;
}
.img-wrapper-mountain {
  position: relative;
  grid-column: 2;
}

.img-wrapper-mountain .mountain {
  position: absolute;
  height: 130%;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#wave {
  fill: var(--bg-color);
}
.wave-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  background-color: var(--bg-color);
}
.wave-wrap svg {
  position: absolute;
  height: calc(120% + 10px);
  top: 40%;
  transform: translateY(-50%);
  left: calc(100% - 2px);
}

.dashed-wave {
  position: absolute;
  z-index: 3;
  height: 130%;
  bottom: 60%;
  left: -28px;
  transform: translateY(50%);
}
#dashed-wave {
  fill: none;
  stroke: var(--nav-color);
  stroke-width: 1px;
  stroke-dasharray: 6.5;
  opacity: 0.8;
}